<configuration>
  <components>
            <component
                id="SessionProvider"
                service="Ucommerce.EntitiesV2.ISessionProvider, Ucommerce"
                type="Ucommerce.Redis.RedisSessionProvider, Ucommerce.Redis">
            <parameters>
                <EnableCache>#{enableCache}</EnableCache>
                <CacheProvider>#{cacheProvider}</CacheProvider>
                <ConnectionIsolation>#{databaseConnectionIsolationLevel}</ConnectionIsolation>
                <RedisConnectionString>localhost:6379,allowAdmin=true,abortConnect=false</RedisConnectionString>
            </parameters>
            <interceptors>
                <interceptor>${ExceptionLoggingInterceptor}</interceptor>
            </interceptors>
        </component>
  </components>
</configuration> 
	