<!--
	Core configuration for uCommerce components.
-->
<configuration>
  <components>

    <!-- Data Access -->
    <component
			id="SessionProvider"
			service="UCommerce.EntitiesV2.ISessionProvider, UCommerce"
			type="RedisForUcommerce.RedisSessionProvider, RedisForUcommerce">
      <parameters>
        <ConnectionIsolation>#{databaseConnectionIsolationLevel}</ConnectionIsolation>
      </parameters>
      <interceptors>
        <interceptor>${ExceptionLoggingInterceptor}</interceptor>
      </interceptors>
    </component>
    
  </components>
</configuration>